.main-center__box
  .main-center__box__user-name-title
    投稿者：
  .main-center__box__user-name
    = message.user.name
  .main-center__box__date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-center__content
    - if message.content.present?
      %p.lower-message__content
        = message.content
= image_tag message.image.url, class: 'lower-message__image' if message.image.present?