.side
  .side-top
    .side-top__box
      .side-top__box__name
        山田
      %ul.side-top__box__icon
        %li.list
          = link_to '' do
            = icon('fas', 'edit', class: 'icon')
        %li.list
          = link_to '' do
            = icon('fas', 'cog', class: 'icon')

  .side-main
    .side-main__box
      .side-main__box__box1
        techcamp
      .side-main__box__box2
        まだメッセージがありません。