-# - if controller_name != 'sessions'
-#   既に登録をされている方はこちらから
-#   = link_to "Log in", messages_path(resource_name), class: 'btn'
-#   %br/
-# - if devise_mapping.registerable? && controller_name != 'registrations'
-#   ご登録がお済みでない方はこちら
-#   = link_to "Sign up", messages_path(resource_name), class: 'btn'
-#   %br/

