* {
  box-sizing: border-box;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.wrapper{
  display: flex;
}
// サイド部分
.side-top{
  height: 100px;
  background-color: #432;
  width:300px;
  &__box{
    display: flex;
    justify-content: space-between;
    padding: 38px 17px;

    &__name{
      font-size:16px;
      color:white;

    }
    &__icon{
      display: flex;

    }
  }
}
.fa-edit:before {
  color: #0bd;
  padding: 0 5px;
}
.fa-cog:before {
  color: #0bd;
  padding: 0 5px;
}

.side-main{
  width:300px;
  background-color: rgb(97, 72, 47);
  height:calc(100vh - 100px);
  &__box{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    &__box1{
      padding-bottom: 5px;
      font-size: 15px;
      color:white;
    }
    &__box2{
      color:white;
      font-size: 11px;
  
  
    }
  }
  
}


// メイントップ部分
.main-top{
  height: 100px;
  width:calc(100vw - 300px);
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  &__box{
    padding-top: 35px;
    
    &__group-name{
      padding-bottom: 15px;
      font-size: 20px;
      color:#432;
    }
    &__menber-name{
      color:#999999;
      font-size:12px;

    }


  }
  &__edit-button{
    padding-top:28px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
 

  }
.edit-buttun{
  text-align: center;
  color:#0bd;
  text-decoration: none;
}

}
.main-center{
  width:calc(100vw - 300px);
  background-color: #fafafa;
  height: calc(100vh - 190px);



}
.main-bottom{
  background-color: #d2d2d2;
  height: 90px;
  width:calc(100vw - 300px);
}
// メイン中央部分
.main-center{
  padding-top: 35px;
  padding-left: 40px;
  &__box{
    padding-bottom: 12px;
    display: flex;
    &__user-name{
      color:#333333;
      font-size: 16px;
    }
    &__date{
      color:#999999;
      font-size:12px;
    }
  }
  &__content{
    padding-bottom: 46px;
    color:#434A54;
    font-size: 14px;

  }
}
// メインフッダー部分
.main-bottom{
  display: flex;
  &__left{
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    background-color: white;
    width: 1100px;
    &__message{
      color: #999999;
      padding-left: 10px;
      line-height: 67px;
    }

    &__image{
      position: absolute;
      top:23px;
      right: 30px;

    }
  }
  &__right{
    margin-right: 40px;
    color: white;
    background-color: #0bd;
    margin: 10px;
    width: 100px;
    text-align: center;
    line-height: 71px;
    font-size: 28px;

  }
}
label input{
  display: none;  
}