* {
  box-sizing: border-box;
}
body{
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
}
.wrapper{
  display: flex;
}
// サイド部分
.side-top{
  height: 100px;
  background-color: azure;
  width:300px;
  &__box{
    display: flex;
    justify-content: space-between;
    padding: 38px 17px;

    &__name{
      font-size:16px;
      color:black;

    }
    &__icon{
      display: flex;

    }
  }
}
.fa-edit:before {
  color: #0bd;
  padding: 0 5px;
}
.fa-cog:before {
  color: #0bd;
  padding: 0 5px;
}
.fa-home:before {
  color: #0bd;
  padding: 0 5px;
}

.side-main{
  width:300px;
  background-color: aliceblue;
  height:calc(100vh - 100px);


  &__title{
    text-align: center;
  }
  &__box{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    &__box{
      display: flex;
      justify-content: flex-start;
      &__group-name{
        font-size: 15px;
        color: gray
      }
      &__box1{
        padding-bottom: 5px;
        font-size: 15px;
        color:black;
      }
      &__new{
        font-size: 13px;
        color: gray;
      }
      &__box2{
        color:black;
        font-size: 11px;
      }
    }
  }
  
}


// メイントップ部分
.main-top{
  height: 100px;
  width:calc(100vw - 300px);
  background-color: aliceblue;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  &__box{
    padding-top: 35px;
    
    &__group-name{
      padding-bottom: 15px;
      font-size: 20px;
      color:#432;
    }
    &__menber-name{
      color:#999999;
      font-size:12px;

    }


  }
  &__edit-button{
    padding-top:28px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
 

  }
.edit-buttun{
  text-align: center;
  color:#0bd;
  text-decoration: none;
}

}
.main-center{
  width:calc(100vw - 300px);
  background-color: azure;
  height: calc(100vh - 190px);



}
.main-bottom{
  background-color: #d2d2d2;
  height: 90px;
  width:calc(100vw - 300px);
}

// メイン中央部分
.main-center{
  padding-top: 35px;
  padding-left: 40px;
  overflow: scroll;
  &__box{
    padding-bottom: 12px;
    display: flex;
    position: relative;
    &__user-name{
      color:#333333;
      font-size: 16px;
    }
    &__date{
      color:#999999;
      font-size:12px;
      position: absolute;
      top: 36px;
    }
  }
  &__content{
    padding-bottom: 46px;
    color:#434A54;
    font-size: 14px;
    padding: 13px 106px;
    display: flex;

  }
}
.lower-message__content{
  font-size: 20px;
}

// メインフッダー部分
.main-bottom{
  display: flex;
  &__left{
    position: relative;
    width: 1100px;
    padding-top: 10px;
    padding-left: 10px;
    &__message{
      color: #999999;
      padding-left: 10px;
      line-height: 67px;
      width: 1100px;
    }

    &__image{
      position: absolute;
      top:0px;
      right: -127px;

    }
  }
  &__right{
    margin-right: 40px;
    color: white;
    background-color: #0bd;
    margin: 10px;
    width: 100px;
    line-height: 71px;
    font-size: 28px;
    &:hover {
      transform: scale(1.1);
    }

  }
}
label input{
  display: none;  
}